<a href="https://colab.research.google.com/github/adipurnamk/bootcamp-sanbercode-python-datascience/blob/master/Tugas_Akhir_Sanbercode_top10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import numpy as np

df = pd.read_csv('/content/drive/My Drive/Bootcamp/sanbercode/Pendapatan.csv')

In [0]:
df.drop('id', axis=1, inplace=True)

In [4]:
# Get dummies
df = pd.get_dummies(df, drop_first=True, dtype=np.int64)
# X head
df.head()

   Umur  Berat Akhir  ...  Pekerjaan_Tentara  Jenis Kelamin_Perempuan
0    59       139616  ...                  0                        0
1    52       158993  ...                  0                        1
2    52       284648  ...                  0                        1
3    45       132847  ...                  0                        1
4    28       103432  ...                  0                        0

[5 rows x 50 columns]

In [5]:
gaji = 'Gaji'
col_gaji  = df.pop(gaji)
df.insert(0, gaji, col_gaji)
df.head(1)

   Gaji  Umur  ...  Pekerjaan_Tentara  Jenis Kelamin_Perempuan
0     1    59  ...                  0                        0

[1 rows x 50 columns]

In [0]:
import pandas as pd
from sklearn import preprocessing

x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled, columns=df.columns)

In [7]:
df

       Gaji      Umur  ...  Pekerjaan_Tentara  Jenis Kelamin_Perempuan
0       1.0  0.575342  ...                0.0                      0.0
1       0.0  0.479452  ...                0.0                      1.0
2       1.0  0.479452  ...                0.0                      1.0
3       0.0  0.383562  ...                0.0                      1.0
4       1.0  0.150685  ...                0.0                      0.0
...     ...       ...  ...                ...                      ...
38388   0.0  0.410959  ...                0.0                      0.0
38389   1.0  0.712329  ...                0.0                      0.0
38390   1.0  0.095890  ...                0.0                      1.0
38391   0.0  0.410959  ...                0.0                      0.0
38392   1.0  0.383562  ...                0.0                      0.0

[38393 rows x 50 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38393 entries, 0 to 38392
Data columns (total 50 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Gaji                                         38393 non-null  float64
 1   Umur                                         38393 non-null  float64
 2   Berat Akhir                                  38393 non-null  float64
 3   Jmlh Tahun Pendidikan                        38393 non-null  float64
 4   Keuntungan Kapital                           38393 non-null  float64
 5   Kerugian Capital                             38393 non-null  float64
 6   Jam per Minggu                               38393 non-null  float64
 7   Kelas Pekerja_Pekerja Bebas Bukan Perusahan  38393 non-null  float64
 8   Kelas Pekerja_Pekerja Bebas Perusahaan       38393 non-null  float64
 9   Kelas Pekerja_Pemerintah Lokal               38393 non-null  float64
 10  Kelas Pekerja_Pemerintah Negara              38393 non-null  float64
 11  Kelas Pekerja_Pemerintah Provinsi            38393 non-null  float64
 12  Kelas Pekerja_Tanpa di Bayar                 38393 non-null  float64
 13  Kelas Pekerja_Tidak Pernah Bekerja           38393 non-null  float64
 14  Kelas Pekerja_Wiraswasta                     38393 non-null  float64
 15  Pendidikan_11th                              38393 non-null  float64
 16  Pendidikan_12th                              38393 non-null  float64
 17  Pendidikan_1st-4th                           38393 non-null  float64
 18  Pendidikan_5th-6th                           38393 non-null  float64
 19  Pendidikan_7th-8th                           38393 non-null  float64
 20  Pendidikan_9th                               38393 non-null  float64
 21  Pendidikan_D3                                38393 non-null  float64
 22  Pendidikan_D4                                38393 non-null  float64
 23  Pendidikan_Doktor                            38393 non-null  float64
 24  Pendidikan_Master                            38393 non-null  float64
 25  Pendidikan_Pendidikan Tinggi                 38393 non-null  float64
 26  Pendidikan_SD                                38393 non-null  float64
 27  Pendidikan_SMA                               38393 non-null  float64
 28  Pendidikan_Sarjana                           38393 non-null  float64
 29  Pendidikan_Sekolah Professional              38393 non-null  float64
 30  Status Perkawinan_Berpisah                   38393 non-null  float64
 31  Status Perkawinan_Cerai                      38393 non-null  float64
 32  Status Perkawinan_Janda                      38393 non-null  float64
 33  Status Perkawinan_Menikah                    38393 non-null  float64
 34  Status Perkawinan_Menikah LDR                38393 non-null  float64
 35  Pekerjaan_Asisten Rumah Tangga               38393 non-null  float64
 36  Pekerjaan_Ekesekutif Managerial              38393 non-null  float64
 37  Pekerjaan_Mesin Inspeksi                     38393 non-null  float64
 38  Pekerjaan_Pembersih                          38393 non-null  float64
 39  Pekerjaan_Pemuka Agama                       38393 non-null  float64
 40  Pekerjaan_Penjaga                            38393 non-null  float64
 41  Pekerjaan_Perbaikan Kerajinan                38393 non-null  float64
 42  Pekerjaan_Petani                             38393 non-null  float64
 43  Pekerjaan_Sales                              38393 non-null  float64
 44  Pekerjaan_Servis Lainnya                     38393 non-null  float64
 45  Pekerjaan_Spesialis                          38393 non-null  float64
 46  Pekerjaan_Supir                              38393 non-null  float64
 47  Pekerjaan_Tech-support                       38393 non-null  float64
 48  Pekerjaan_Tentara                            38393 non-null  float64
 49  Jenis Kelamin_Perempuan                      38393 non-null  float64
dtypes: float64(50)
memory usage: 14.6 MB

In [32]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X = df.drop('Gaji', axis=1)  
y = df['Gaji']

#apply SelectKBest class to extract top 10 best features
bestfeatures = SelectKBest(score_func=chi2, k=49)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(13,'Score'))  #print 10 best features

                                     Specs        Score
32               Status Perkawinan_Menikah  4099.594016
35         Pekerjaan_Ekesekutif Managerial  1442.456339
44                     Pekerjaan_Spesialis  1199.519697
48                 Jenis Kelamin_Perempuan  1148.576323
23                       Pendidikan_Master  1070.210129
27                      Pendidikan_Sarjana  1061.464920
3                       Keuntungan Kapital   981.462483
28         Pendidikan_Sekolah Professional   933.431879
43                Pekerjaan_Servis Lainnya   850.606094
7   Kelas Pekerja_Pekerja Bebas Perusahaan   729.969558
22                       Pendidikan_Doktor   650.666715
30                 Status Perkawinan_Cerai   543.373443
26                          Pendidikan_SMA   459.495912

In [10]:
top_feature = featureScores.nlargest(10,'Score')
top_feature = top_feature['Specs'].to_list()
top_feature

['Status Perkawinan_Menikah',
 'Pekerjaan_Ekesekutif Managerial',
 'Pekerjaan_Spesialis',
 'Jenis Kelamin_Perempuan',
 'Pendidikan_Master',
 'Pendidikan_Sarjana',
 'Keuntungan Kapital',
 'Pendidikan_Sekolah Professional',
 'Pekerjaan_Servis Lainnya',
 'Kelas Pekerja_Pekerja Bebas Perusahaan']

In [11]:
df.head()

   Gaji      Umur  ...  Pekerjaan_Tentara  Jenis Kelamin_Perempuan
0   1.0  0.575342  ...                0.0                      0.0
1   0.0  0.479452  ...                0.0                      1.0
2   1.0  0.479452  ...                0.0                      1.0
3   0.0  0.383562  ...                0.0                      1.0
4   1.0  0.150685  ...                0.0                      0.0

[5 rows x 50 columns]

In [0]:
from sklearn.model_selection import train_test_split
X = df.loc[:, top_feature] 
y = df['Gaji']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [13]:
X

       Status Perkawinan_Menikah  ...  Kelas Pekerja_Pekerja Bebas Perusahaan
0                            1.0  ...                                     0.0
1                            0.0  ...                                     0.0
2                            0.0  ...                                     0.0
3                            0.0  ...                                     0.0
4                            0.0  ...                                     0.0
...                          ...  ...                                     ...
38388                        1.0  ...                                     0.0
38389                        1.0  ...                                     1.0
38390                        1.0  ...                                     0.0
38391                        1.0  ...                                     0.0
38392                        1.0  ...                                     0.0

[38393 rows x 10 columns]

In [0]:
kernels = ['Polynomial', 'RBF', 'Sigmoid','Linear']
#A function which returns the corresponding SVC model
def getClassifier(ktype):
    if ktype == 0:
        # Polynomial kernal
        return SVC(kernel='poly', degree=8, gamma="auto")
    elif ktype == 1:
        # Radial Basis Function kernal
        return SVC(kernel='rbf', gamma="auto")
    elif ktype == 2:
        # Sigmoid kernal
        return SVC(kernel='sigmoid', gamma="auto")
    elif ktype == 3:
        # Linear kernal
        return SVC(kernel='linear', gamma="auto")

In [15]:
from sklearn.svm import SVC 
from sklearn.metrics import classification_report, confusion_matrix

for i in range(4):
    # Separate data into test and training sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)
# Train a SVC model using different kernal
    svclassifier = getClassifier(i) 
    svclassifier.fit(X_train, y_train)
# Make prediction
    y_pred = svclassifier.predict(X_test)
# Evaluate our model
    print("Evaluation:", kernels[i], "kernel")
    print(classification_report(y_test,y_pred))

Evaluation: Polynomial kernel
              precision    recall  f1-score   support

         0.0       0.77      1.00      0.87      5933
         1.0       0.00      0.00      0.00      1746

    accuracy                           0.77      7679
   macro avg       0.39      0.50      0.44      7679
weighted avg       0.60      0.77      0.67      7679

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Evaluation: RBF kernel
              precision    recall  f1-score   support

         0.0       0.86      0.92      0.89      5832
         1.0       0.69      0.54      0.61      1847

    accuracy                           0.83      7679
   macro avg       0.78      0.73      0.75      7679
weighted avg       0.82      0.83      0.82      7679

Evaluation: Sigmoid kernel
              precision    recall  f1-score   support

         0.0       0.82      0.94      0.88      5818
         1.0       0.66      0.34      0.45      1861

    accuracy                           0.80      7679
   macro avg       0.74      0.64      0.66      7679
weighted avg       0.78      0.80      0.77      7679

Evaluation: Linear kernel
              precision    recall  f1-score   support

         0.0       0.85      0.94      0.89      5827
         1.0       0.71      0.49      0.58      1852

    accuracy                           0.83      7679
   macro avg       0.78      0.71      0.74      7679
weighted avg       0.82      0.83      0.82      7679

In [16]:
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [0.1,1, 10, 100], 'gamma': [1,0.1,0.01,0.001],'kernel': ['rbf', 'poly', 'sigmoid']}
grid = GridSearchCV(SVC(),param_grid,refit=True,verbose=2, n_jobs=-1)
grid.fit(X_train,y_train)

Fitting 5 folds for each of 48 candidates, totalling 240 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed: 35.1min
[Parallel(n_jobs=-1)]: Done 240 out of 240 | elapsed: 86.5min finished

GridSearchCV(cv=None, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'C': [0.1, 1, 10, 100], 'gamma': [1, 0.1, 0.01, 0.001],
                         'kernel': ['rbf', 'poly', 'sigmoid']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=2)

In [19]:
print(grid.best_estimator_)

SVC(C=10, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.1, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [22]:
df_test = pd.read_csv('/content/drive/My Drive/Bootcamp/sanbercode/Pendapatan_test.csv')
df_test.head()

      id  Umur  ... Kerugian Capital  Jam per Minggu
0  47933    30  ...              0.0            40.0
1  44213    28  ...              0.0            50.0
2  20823    34  ...              0.0            40.0
3  40565    51  ...       28028000.0            40.0
4   9860    20  ...       22428000.0            40.0

[5 rows x 12 columns]

In [23]:
df_test.drop('id', axis=1, inplace=True)

# Get dummies
df_test = pd.get_dummies(df_test, drop_first=True, dtype=np.int64)
# X head
df_test.head()

   Umur  Berat Akhir  ...  Pekerjaan_Tentara  Jenis Kelamin_Perempuan
0    30        99761  ...                  0                        1
1    28       202206  ...                  0                        0
2    34       199934  ...                  0                        0
3    51       373448  ...                  0                        0
4    20       144685  ...                  0                        1

[5 rows x 49 columns]

In [24]:
x = df_test.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df_test = pd.DataFrame(x_scaled, columns=df_test.columns)
df_test

          Umur  Berat Akhir  ...  Pekerjaan_Tentara  Jenis Kelamin_Perempuan
0     0.178082     0.059648  ...                0.0                      1.0
1     0.150685     0.130708  ...                0.0                      0.0
2     0.232877     0.129132  ...                0.0                      0.0
3     0.465753     0.249488  ...                0.0                      0.0
4     0.041096     0.090809  ...                0.0                      1.0
...        ...          ...  ...                ...                      ...
9594  0.561644     0.100753  ...                0.0                      0.0
9595  0.383562     0.090393  ...                0.0                      0.0
9596  0.041096     0.156011  ...                0.0                      1.0
9597  0.328767     0.163193  ...                0.0                      1.0
9598  0.232877     0.007763  ...                0.0                      0.0

[9599 rows x 49 columns]

In [25]:
X_test = df_test.loc[:, top_feature] 
grid_predictions = grid.predict(X_test)
grid_predictions

array([0., 0., 0., ..., 0., 0., 0.])

In [26]:
df_test = pd.read_csv('/content/drive/My Drive/Bootcamp/sanbercode/Pendapatan_test.csv')
df_output = df_test.copy()
df_output['Gaji'] = grid_predictions
df_output

         id  Umur  ... Jam per Minggu  Gaji
0     47933    30  ...           40.0   0.0
1     44213    28  ...           50.0   0.0
2     20823    34  ...           40.0   0.0
3     40565    51  ...           40.0   1.0
4      9860    20  ...           40.0   0.0
...     ...   ...  ...            ...   ...
9594  13587    58  ...           40.0   0.0
9595  33231    45  ...           50.0   0.0
9596  18614    20  ...           32.0   0.0
9597  37566    41  ...           40.0   0.0
9598   6744    34  ...           80.0   0.0

[9599 rows x 13 columns]

In [27]:
df_output_csv = df_output[['id', 'Gaji']]
df_output_csv

         id  Gaji
0     47933   0.0
1     44213   0.0
2     20823   0.0
3     40565   1.0
4      9860   0.0
...     ...   ...
9594  13587   0.0
9595  33231   0.0
9596  18614   0.0
9597  37566   0.0
9598   6744   0.0

[9599 rows x 2 columns]

In [0]:
# try3: top10 feature, linear svc
df_output_csv.to_csv('top-feature.csv', index=False)

In [29]:
# save the model to disk
from sklearn.externals import joblib
joblib.dump(grid, 'gs_object_top-features.pkl')

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

['gs_object_top10-features.pkl']