In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import numpy as np

df = pd.read_csv('Pendapatan.csv')

In [2]:
df.drop('id', axis=1, inplace=True)

In [3]:
# Get dummies
df = pd.get_dummies(df, drop_first=True, dtype=np.int64)
# X head
df.head()

,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,...,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara,Jenis Kelamin_Perempuan
0,59,139616,14,0.0,0.0,50.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,52,158993,9,0.0,0.0,38.0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,52,284648,9,0.0,0.0,99.0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,45,132847,9,0.0,0.0,40.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,28,103432,9,0.0,0.0,45.0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [4]:
gaji = 'Gaji'
col_gaji  = df.pop(gaji)
df.insert(0, gaji, col_gaji)
df.head(1)

,Gaji,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,...,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara,Jenis Kelamin_Perempuan
0,1,59,139616,14,0.0,0.0,50.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
import pandas as pd
from sklearn import preprocessing

x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled, columns=df.columns)

In [6]:
df

,Gaji,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,...,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara,Jenis Kelamin_Perempuan
0,1.0,0.575342,0.086144,0.866667,0.0,0.0,0.500000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.479452,0.099253,0.533333,0.0,0.0,0.377551,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.479452,0.184264,0.533333,0.0,0.0,1.000000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.383562,0.081565,0.533333,0.0,0.0,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.150685,0.061664,0.533333,0.0,0.0,0.448980,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38388,0.0,0.410959,0.091931,0.533333,0.0,0.0,0.397959,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38389,1.0,0.712329,0.170783,0.733333,0.0,0.0,0.397959,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
38390,1.0,0.095890,0.013071,0.800000,0.0,0.0,0.193878,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
38391,0.0,0.410959,0.125532,0.533333,0.0,0.0,0.448980,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
38392,1.0,0.383562,0.156590,0.800000,0.0,0.0,0.602041,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38393 entries, 0 to 38392
Data columns (total 50 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Gaji                                         38393 non-null  float64
 1   Umur                                         38393 non-null  float64
 2   Berat Akhir                                  38393 non-null  float64
 3   Jmlh Tahun Pendidikan                        38393 non-null  float64
 4   Keuntungan Kapital                           38393 non-null  float64
 5   Kerugian Capital                             38393 non-null  float64
 6   Jam per Minggu                               38393 non-null  float64
 7   Kelas Pekerja_Pekerja Bebas Bukan Perusahan  38393 non-null  float64
 8   Kelas Pekerja_Pekerja Bebas Perusahaan       38393 non-null  float64
 9   Kelas Pekerja_Pemerintah Lokal               38393 non-null  float64
 10  Kelas Pekerja_Pemerintah Negara              38393 non-null  float64
 11  Kelas Pekerja_Pemerintah Provinsi            38393 non-null  float64
 12  Kelas Pekerja_Tanpa di Bayar                 38393 non-null  float64
 13  Kelas Pekerja_Tidak Pernah Bekerja           38393 non-null  float64
 14  Kelas Pekerja_Wiraswasta                     38393 non-null  float64
 15  Pendidikan_11th                              38393 non-null  float64
 16  Pendidikan_12th                              38393 non-null  float64
 17  Pendidikan_1st-4th                           38393 non-null  float64
 18  Pendidikan_5th-6th                           38393 non-null  float64
 19  Pendidikan_7th-8th                           38393 non-null  float64
 20  Pendidikan_9th                               38393 non-null  float64
 21  Pendidikan_D3                                38393 non-null  float64
 22  Pendidikan_D4                                38393 non-null  float64
 23  Pendidikan_Doktor                            38393 non-null  float64
 24  Pendidikan_Master                            38393 non-null  float64
 25  Pendidikan_Pendidikan Tinggi                 38393 non-null  float64
 26  Pendidikan_SD                                38393 non-null  float64
 27  Pendidikan_SMA                               38393 non-null  float64
 28  Pendidikan_Sarjana                           38393 non-null  float64
 29  Pendidikan_Sekolah Professional              38393 non-null  float64
 30  Status Perkawinan_Berpisah                   38393 non-null  float64
 31  Status Perkawinan_Cerai                      38393 non-null  float64
 32  Status Perkawinan_Janda                      38393 non-null  float64
 33  Status Perkawinan_Menikah                    38393 non-null  float64
 34  Status Perkawinan_Menikah LDR                38393 non-null  float64
 35  Pekerjaan_Asisten Rumah Tangga               38393 non-null  float64
 36  Pekerjaan_Ekesekutif Managerial              38393 non-null  float64
 37  Pekerjaan_Mesin Inspeksi                     38393 non-null  float64
 38  Pekerjaan_Pembersih                          38393 non-null  float64
 39  Pekerjaan_Pemuka Agama                       38393 non-null  float64
 40  Pekerjaan_Penjaga                            38393 non-null  float64
 41  Pekerjaan_Perbaikan Kerajinan                38393 non-null  float64
 42  Pekerjaan_Petani                             38393 non-null  float64
 43  Pekerjaan_Sales                              38393 non-null  float64
 44  Pekerjaan_Servis Lainnya                     38393 non-null  float64
 45  Pekerjaan_Spesialis                          38393 non-null  float64
 46  Pekerjaan_Supir                              38393 non-null  float64
 47  Pekerjaan_Tech-support                       38393 non-null  float64
 48  Pekerjaan_Tentara                            38393 non-null  float64
 49  Jenis Kelamin_Perempuan                      38393 non-null  float64
dtypes: float64(50)
memory usage: 14.6 MB

In [8]:
X = df.drop('Gaji', axis=1)
X.shape

(38393, 49)

In [9]:
y = df['Gaji']
y.shape

(38393,)

In [26]:
type(featureScores)

pandas.core.frame.DataFrame

In [10]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X = df.drop('Gaji', axis=1)  
y = df['Gaji']

#apply SelectKBest class to extract top 10 best features
bestfeatures = SelectKBest(score_func=chi2, k=49)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(49,'Score'))  #print 10 best features

                                          Specs        Score
32                    Status Perkawinan_Menikah  4099.594016
35              Pekerjaan_Ekesekutif Managerial  1442.456339
44                          Pekerjaan_Spesialis  1199.519697
48                      Jenis Kelamin_Perempuan  1148.576323
23                            Pendidikan_Master  1070.210129
27                           Pendidikan_Sarjana  1061.464920
3                            Keuntungan Kapital   981.462483
28              Pendidikan_Sekolah Professional   933.431879
43                     Pekerjaan_Servis Lainnya   850.606094
7        Kelas Pekerja_Pekerja Bebas Perusahaan   729.969558
22                            Pendidikan_Doktor   650.666715
30                      Status Perkawinan_Cerai   543.373443
26                               Pendidikan_SMA   459.495912
4                              Kerugian Capital   347.373656
37                          Pekerjaan_Pembersih   274.405317
14                              Pendidikan_11th   273.971284
0                                          Umur   243.806263
38                       Pekerjaan_Pemuka Agama   225.719297
2                         Jmlh Tahun Pendidikan   207.978334
29                   Status Perkawinan_Berpisah   186.435725
31                      Status Perkawinan_Janda   173.836475
10            Kelas Pekerja_Pemerintah Provinsi   162.730450
36                     Pekerjaan_Mesin Inspeksi   158.355320
24                 Pendidikan_Pendidikan Tinggi   131.322734
18                           Pendidikan_7th-8th   118.659609
19                               Pendidikan_9th   103.403055
41                             Pekerjaan_Petani    98.203900
17                           Pendidikan_5th-6th    80.136879
5                                Jam per Minggu    76.835636
15                              Pendidikan_12th    75.935593
13                     Kelas Pekerja_Wiraswasta    72.117851
34               Pekerjaan_Asisten Rumah Tangga    54.713976
33                Status Perkawinan_Menikah LDR    45.839994
8                Kelas Pekerja_Pemerintah Lokal    43.398066
16                           Pendidikan_1st-4th    42.172428
6   Kelas Pekerja_Pekerja Bebas Bukan Perusahan    22.125958
42                              Pekerjaan_Sales    20.696287
39                            Pekerjaan_Penjaga    18.113345
25                                Pendidikan_SD    17.610754
46                       Pekerjaan_Tech-support    16.623183
45                              Pekerjaan_Supir    11.435179
9               Kelas Pekerja_Pemerintah Negara     8.985362
40                Pekerjaan_Perbaikan Kerajinan     7.656000
21                                Pendidikan_D4     3.749484
20                                Pendidikan_D3     2.352224
12           Kelas Pekerja_Tidak Pernah Bekerja     1.889513
11                 Kelas Pekerja_Tanpa di Bayar     1.151611
47                            Pekerjaan_Tentara     0.930706
1                                   Berat Akhir     0.025529

In [11]:
df.head()

,Gaji,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,...,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara,Jenis Kelamin_Perempuan
0,1.0,0.575342,0.086144,0.866667,0.0,0.0,0.500000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.479452,0.099253,0.533333,0.0,0.0,0.377551,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.479452,0.184264,0.533333,0.0,0.0,1.000000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.383562,0.081565,0.533333,0.0,0.0,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.150685,0.061664,0.533333,0.0,0.0,0.448980,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [12]:
from sklearn.model_selection import train_test_split
X = df.drop('Gaji', axis=1)  
y = df['Gaji']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [13]:
kernels = ['Polynomial', 'RBF', 'Sigmoid','Linear']
#A function which returns the corresponding SVC model
def getClassifier(ktype):
    if ktype == 0:
        # Polynomial kernal
        return SVC(kernel='poly', degree=8, gamma="auto")
    elif ktype == 1:
        # Radial Basis Function kernal
        return SVC(kernel='rbf', gamma="auto")
    elif ktype == 2:
        # Sigmoid kernal
        return SVC(kernel='sigmoid', gamma="auto")
    elif ktype == 3:
        # Linear kernal
        return SVC(kernel='linear', gamma="auto")

In [14]:
from sklearn.svm import SVC 
from sklearn.metrics import classification_report, confusion_matrix

for i in range(4):
    # Separate data into test and training sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)
# Train a SVC model using different kernal
    svclassifier = getClassifier(i) 
    svclassifier.fit(X_train, y_train)
# Make prediction
    y_pred = svclassifier.predict(X_test)
# Evaluate our model
    print("Evaluation:", kernels[i], "kernel")
    print(classification_report(y_test,y_pred))

Evaluation: Polynomial kernel
              precision    recall  f1-score   support

         0.0       0.76      1.00      0.86      5852
         1.0       0.00      0.00      0.00      1827

    accuracy                           0.76      7679
   macro avg       0.38      0.50      0.43      7679
weighted avg       0.58      0.76      0.66      7679

C:\Users\adipurnamk\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Evaluation: RBF kernel
              precision    recall  f1-score   support

         0.0       0.86      0.94      0.89      5829
         1.0       0.71      0.50      0.59      1850

    accuracy                           0.83      7679
   macro avg       0.78      0.72      0.74      7679
weighted avg       0.82      0.83      0.82      7679

Evaluation: Sigmoid kernel
              precision    recall  f1-score   support

         0.0       0.85      0.94      0.89      5795
         1.0       0.72      0.50      0.59      1884

    accuracy                           0.83      7679
   macro avg       0.79      0.72      0.74      7679
weighted avg       0.82      0.83      0.82      7679

Evaluation: Linear kernel
              precision    recall  f1-score   support

         0.0       0.87      0.94      0.90      5845
         1.0       0.73      0.55      0.63      1834

    accuracy                           0.85      7679
   macro avg       0.80      0.75      0.77      7679
weighted avg       0.84      0.85      0.84      7679

In [15]:
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [0.1,1, 10, 100], 'gamma': [1,0.1,0.01,0.001],'kernel': ['rbf', 'poly', 'sigmoid']}
grid = GridSearchCV(SVC(),param_grid,refit=True,verbose=2, n_jobs=-1)
grid.fit(X_train,y_train)

Fitting 5 folds for each of 48 candidates, totalling 240 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:  4.7min
C:\Users\adipurnamk\Anaconda3\lib\site-packages\joblib\externals\loky\process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed: 30.2min
[Parallel(n_jobs=-1)]: Done 240 out of 240 | elapsed: 110.4min finished

GridSearchCV(cv=None, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'C': [0.1, 1, 10, 100], 'gamma': [1, 0.1, 0.01, 0.001],
                         'kernel': ['rbf', 'poly', 'sigmoid']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=2)

In [16]:
print(grid.best_estimator_)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [17]:
df_test = pd.read_csv('Pendapatan_test.csv')
df_test.head()

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu
0,47933,30,Pemerintah Lokal,99761,D4,11,Cerai,Pemuka Agama,Perempuan,0.0,0.0,40.0
1,44213,28,Wiraswasta,202206,SMA,9,Menikah,Mesin Inspeksi,Laki2,0.0,0.0,50.0
2,20823,34,Pemerintah Provinsi,199934,Pendidikan Tinggi,10,Menikah,Pemuka Agama,Laki2,0.0,0.0,40.0
3,40565,51,Wiraswasta,373448,Pendidikan Tinggi,10,Menikah,Ekesekutif Managerial,Laki2,0.0,28028000.0,40.0
4,9860,20,?,144685,Pendidikan Tinggi,10,Belum Pernah Menikah,?,Perempuan,0.0,22428000.0,40.0

In [18]:
df_test.drop('id', axis=1, inplace=True)

# Get dummies
df_test = pd.get_dummies(df_test, drop_first=True, dtype=np.int64)
# X head
df_test.head()

,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,...,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara,Jenis Kelamin_Perempuan
0,30,99761,11,0.0,0.0,40.0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,28,202206,9,0.0,0.0,50.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,34,199934,10,0.0,0.0,40.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,51,373448,10,0.0,28028000.0,40.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20,144685,10,0.0,22428000.0,40.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [19]:
x = df_test.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df_test = pd.DataFrame(x_scaled, columns=df_test.columns)
df_test

,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,...,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara,Jenis Kelamin_Perempuan
0,0.178082,0.059648,0.666667,0.0,0.000000,0.397959,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.150685,0.130708,0.533333,0.0,0.000000,0.500000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.232877,0.129132,0.600000,0.0,0.000000,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.465753,0.249488,0.600000,0.0,0.459596,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.041096,0.090809,0.600000,0.0,0.367769,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9594,0.561644,0.100753,0.266667,0.0,0.000000,0.397959,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9595,0.383562,0.090393,0.400000,0.0,0.000000,0.500000,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9596,0.041096,0.156011,0.600000,0.0,0.000000,0.316327,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
9597,0.328767,0.163193,0.533333,0.0,0.000000,0.397959,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9598,0.232877,0.007763,0.533333,0.0,0.000000,0.806122,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
X_test = df_test
grid_predictions = grid.predict(X_test)
grid_predictions

array([0., 0., 0., ..., 0., 0., 0.])

In [21]:
df_test = pd.read_csv('Pendapatan_test.csv')
df_output = df_test.copy()
df_output['Gaji'] = grid_predictions
df_output

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,47933,30,Pemerintah Lokal,99761,D4,11,Cerai,Pemuka Agama,Perempuan,0.0,0.0,40.0,0.0
1,44213,28,Wiraswasta,202206,SMA,9,Menikah,Mesin Inspeksi,Laki2,0.0,0.0,50.0,0.0
2,20823,34,Pemerintah Provinsi,199934,Pendidikan Tinggi,10,Menikah,Pemuka Agama,Laki2,0.0,0.0,40.0,0.0
3,40565,51,Wiraswasta,373448,Pendidikan Tinggi,10,Menikah,Ekesekutif Managerial,Laki2,0.0,28028000.0,40.0,1.0
4,9860,20,?,144685,Pendidikan Tinggi,10,Belum Pernah Menikah,?,Perempuan,0.0,22428000.0,40.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9594,13587,58,Pemerintah Negara,159021,9th,5,Menikah,Petani,Laki2,0.0,0.0,40.0,0.0
9595,33231,45,Pekerja Bebas Bukan Perusahan,144086,11th,7,Menikah,Perbaikan Kerajinan,Laki2,0.0,0.0,50.0,0.0
9596,18614,20,Wiraswasta,238685,Pendidikan Tinggi,10,Belum Pernah Menikah,Servis Lainnya,Perempuan,0.0,0.0,32.0,0.0
9597,37566,41,Pemerintah Lokal,249039,SMA,9,Berpisah,Pemuka Agama,Perempuan,0.0,0.0,40.0,0.0
9598,6744,34,Pekerja Bebas Bukan Perusahan,24961,SMA,9,Menikah,Petani,Laki2,0.0,0.0,80.0,0.0

In [22]:
df_output_csv = df_output[['id', 'Gaji']]
df_output_csv

         id  Gaji
0     47933   0.0
1     44213   0.0
2     20823   0.0
3     40565   1.0
4      9860   0.0
...     ...   ...
9594  13587   0.0
9595  33231   0.0
9596  18614   0.0
9597  37566   0.0
9598   6744   0.0

[9599 rows x 2 columns]

# try1: drop kolom berat, linear svc
df_output_csv.to_csv('no-berat-svc.csv', index=False)

In [23]:
# try2: drop kolom berat, linear svc
df_output_csv.to_csv('with-berat-svc.csv', index=False)